html {
  box-sizing: border-box
}



/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: black;
  
}

h1 {
color: red;
text-align: center;
}

h2 {
  color: white;
  text-align: center;
}

h3 {
  color: red;
  text-align: center;
}

.btn-button-primary {
  
}



.game-board {
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(7, 80px);
  grid-template-rows: repeat(6, 80px);
  width: 590px;
  height: 500px;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  background-color: red;
}

.board-child {
  border-radius: 50%;
  align-items: center;
  /* box-shadow: 10px 10px 5px rgb(53, 240, 53); */
  background-color: yellow;
  width: 3.7em;
  height: 3.7em;
  
}