.game-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;
  justify-content: center;
  
  

}

.board-child {
  border-radius: 50%;
  height: 70px;
  width: 40px;
}

h1 {
  text-align: center;
}