html {
  box-sizing: border-box
}



/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}



body {
  background-color: white;
  min-height: 100vh;
  
}



h1 {
color: red;
text-align: center;
font-family: "irish Grover"
}

h2 {
  color: black;
  text-align: center;
  font-family: "irish Grover"
}

h3 {
  color: red;
  text-align: center;
  font-family: "irish Grover"
}

#buttons {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 50%;
  margin: 5px 25% 10px;
  
}



.game-board {
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(7, 80px);
  grid-template-rows: repeat(6, 80px);
  width: 560px;
  height: 510px;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  background-color: red;
}

.board-child {
  
  align-self: center;
  margin-left: 10px;
  border-radius: 50%;
  
  /* box-shadow: 10px 10px 5px rgb(53, 240, 53); */
  background-color: yellow;
  width: 3.7em;
  height: 3.7em;
  
}



.dark-mode {
  background-color: black;
}

.dark-mode .game-board {
  background-color: red;
}

.dark-mode > h2 {
  color: white;
}


@media only screen and (min-width: 768px) {
  .card{
    width: 325px;
    margin: 30px 15px 0;
  }
}

@media only screen and (max-width: 390px ) {
  .game-board {
    display: grid;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(6, 50px);
    width: 350px;
    height: 300px;
  }

  .board-child {
    height: 2rem;
    width: 2rem;
  }

  #buttons {
    display: flex;
    justify-content: space-around;
  }
}