html {
  box-sizing: border-box
}



/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}



body {
  background-color: white;
  min-height: 100vh;
  
}



h1 {
color: red;
text-align: center;
}

h2 {
  color: black;
  text-align: center;
}

h3 {
  color: red;
  text-align: center;
}

#buttons {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  width: 50%;
  margin: 5px 25%;
  
}



.game-board {
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(7, 80px);
  grid-template-rows: repeat(6, 80px);
  width: 590px;
  height: 500px;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  background-color: red;
}

.board-child {
  border-radius: 50%;
  align-items: center;
  /* box-shadow: 10px 10px 5px rgb(53, 240, 53); */
  background-color: yellow;
  width: 3.7em;
  height: 3.7em;
  
}

.dark-mode {
  background-color: black;
}

.dark-mode .game-board {
  background-color: red;
}

.dark-mode > h2 {
  color: white;
}











@media only screen and (min-width: 768px) {
  .card{
    width: 325px;
    margin: 30px 15px 0;
  }
}